VITE_API_URL=/api
VITE_FIREBASE_API_KEY=AIzaSyBWMNYEGemSziwv5C3JonVT0uLXdQuUc0w
VITE_FIREBASE_AUTH_DOMAIN=cinepulse-f67d7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cinepulse-f67d7
VITE_FIREBASE_STORAGE_BUCKET=cinepulse-f67d7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=312094043820
VITE_FIREBASE_APP_ID=1:312094043820:web:87c033838cb58068c57909
VITE_FIREBASE_MEASUREMENT_ID=G-N645VSQ37S
